

/* Pour les téléphones (moins de 600 pixels de large) */
@media only screen and (max-width: 600px) {

    * {
            font-family: 'Times New Roman', Times, serif;
            text-decoration: none;
    
        }
    
        a {
            text-decoration: none;
            color: white;
        }
    
        body {
            display: flex;
            font-size: 14px;
            background-image: url(./assets/télécharger.jpeg);
        }
    
        header {
            background-color: black;
            position: absolute;
            width: 100%;
            padding: auto;
        }
    
        header ul {
            display: flex;
            margin-inline-end: 2%;
            list-style: none;
    
    
    
        }
    
        header li {
            text-align: center;
            margin-inline: 10px;
            border: 2px white solid;
            border-radius: 20pc;
            color: white;
            font-size: 10px;
            padding-inline: 10px;
    
    
        }
        main {
            padding: 9%;
            width: 100%;
            height: 100vh;

            /* text-align: center; */
        }

        main h1 {
            font-weight: bold;
            font-size: 3pc;

        }

        #contacts {
            background-color: #464646;
            
            padding: 10%;
            color: white;
            border-radius: 20px;
           

        }
        .contactItem {
            display: flex;
           
        }
        
        .contactItem img {
            height: 20px;
            width: 20px;
        }
        

        .contactItem span {
            font-size: 16px;
        }

        #contactLetter {
            color: #C9AD0A;
            font-weight: bold;
            font-size: 20px;
            margin-top: 20%;
        }

        #contactBottomLine {
            border-bottom: 2px #C9AD0A solid;
            width: 10%;
            text-align: center;
            margin-bottom: 4%;
            margin-inline: 45%;
        }

}

/* Pour les tablettes (entre 600 et 992 pixels de large) */
@media only screen and (min-width: 600px) and (max-width: 992px) {

    * {
            font-family: 'Times New Roman', Times, serif;
            text-decoration: none;
    
        }
    
        a {
            text-decoration: none;
            color: white;
        }
    
        body {
            display: flex;
            font-size: 18px;
            background-color: #1D1C1C;
        }
    
        header {
            background-color: black;
            position: absolute;
            /* height: %; */
            width: 100%;
            /* padding-inline: 2%; */
            padding: auto;
            /* border-bottom: 2px #C9AD0A solid; */
        }
    
        header ul {
            display: flex;
            margin-inline-end: 2%;
            list-style: none;
            float: left;
    
    
        }
    
        header li {
            text-align: center;
            margin-inline: 10px;
            border: 2px white solid;
            border-radius: 20pc;
            /* width: 25%; */
            color: white;
            font-size: 16px;
            padding-inline: 20px;
    
    
        }
                 main {
                     padding: 9%;
                     width: 100%;
                     height: 100vh;
                   
                     /* text-align: center; */
                 }
        
                 main h1 {
                     font-weight: bold;
                     font-size: 3pc;
        
                 }
        
                 #contacts {
                     margin-inline: 10%;
                     background-color: #464646;
                     width: 40%;
                     padding: 10%;
                     color: white;
                     border-radius: 20px;
                     padding-inline: 20%;
                     /* font-size: 16px; */
        
                 }
        
                 .contactItem  {
                    display: flex;
                 }
                 .contactItem img {
                     height: 20px;
                     width: 20px;
                 }
        
                 .contactItem span {
                     font-size: 16px;
                 }
        
                 #contactLetter {
                     color: #C9AD0A;
                     font-weight: bold;
                     font-size: 20px;
                 }
        
                 #contactBottomLine {
                     border-bottom: 2px #C9AD0A solid;
                     width: 10%;
                     text-align: center;
                     margin-bottom: 4%;
                     margin-inline: 45%;
                 }
}

/* Pour les ordinateurs (plus de 992 pixels de large) */
@media only screen and (min-width: 992px) {


    * {
        font-family: 'Times New Roman', Times, serif;
        text-decoration: none;

    }

    a {
        text-decoration: none;
        color: white;
    }

    body {
        display: flex;
        background-color: #1D1C1C;
        font-size: 18px;
        /* background-image: url(./assets/télécharger.jpeg); */
    }

    header {
        background-color: black;
        position: fixed;
        /* height: %; */
        width: 100%;
        /* padding-inline: 2%; */
        padding: auto;
    }

    header ul {
        display: flex;
        margin-inline-end: 2%;
        list-style: none;

    }

    header li {
        text-align: center;
        margin-inline: 5px;
        border: 2px white solid;
        border-radius: 20pc;
        width: 10%;
        color: white;
    }




    main {
        padding: 9%;
        width: 100%;
        height: 100vh;
        background-color: #1D1C1C;
        /* text-align: center; */
    }

    main h1 {
        font-weight: bold;
        font-size: 3pc;

    }

    #contacts {
        margin-inline: 18%;
        background-color: #464646;
        width: 40%;
        padding: 10%;
        color: white;
        border-radius: 20px;
        padding-left: 20%;
        font-size: 1pc;

    }

    .contactItem img {
        height: 20px;
        width: 20px;
    }

    .contactItem span {
        font-size: 1.5pc;
    }

    #contactLetter {
        color: #C9AD0A;
        font-weight: bold;
        font-size: 1.5pc;
    }

    #contactBottomLine {
        border-bottom: 2px #C9AD0A solid;
        width: 10%;
        text-align: center;
        margin-bottom: 4%;
        margin-inline: 45%;
    }
}